<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ModifyUserData</display-name>
    <servlet-name>ModifyUserData</servlet-name>
    <servlet-class>servlets.ModifyUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserData</servlet-name>
    <url-pattern>/ModifyUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassDictationRanking</display-name>
    <servlet-name>ClassDictationRanking</servlet-name>
    <servlet-class>servlets.ClassDictationRanking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDictationRanking</servlet-name>
    <url-pattern>/ClassDictationRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterToClass</display-name>
    <servlet-name>RegisterToClass</servlet-name>
    <servlet-class>servlets.RegisterToClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterToClass</servlet-name>
    <url-pattern>/RegisterToClass</url-pattern>
  </servlet-mapping>
  <display-name>EntrenamosuyWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>